@model IEnumerable<Training2.Models.DeTai>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<a href="~/Sinhvien">Danh sách sinh viên</a>
<a href="~/GVHD">Danh sách giáo viên</a>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSoDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TGTH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TienDo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaGV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KinhPhi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaSV)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaSoDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TGTH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TienDo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaGV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KinhPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSV)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSoDT }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSoDT }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSoDT })
            </td>
        </tr>
    }

</table>
